@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,400;0,600;1,400&display=swap");

$yellow: #fdc72f;
$white: #fdfdfd;
$gray: #333;
$light: #bababa;
$dark: #262626;
$yellow-light: #fffadf;

$header-font: "Shadows Into Light Two", cursive;
$body-font: "Barlow Semi Condensed", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $body-font;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $header-font;
}

button {
  border-radius: 0;
  height: 60px;
  background-color: $yellow;
  padding: 0 20px;
  color: $gray;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;

  &:hover {
    background-color: $gray;
    color: $white;
  }
}

.main-layout {
  padding: 30px;
  background-color: $yellow-light;
  color: $gray;
  font-size: 18px;

  > * + * {
    margin-top: 50px;
  }
}

nav {
  position: fixed;
  background-color: $yellow-light;
  width: 100%;
  display: flex;
  height: 120px;
  z-index: 100;
  font-size: 20px;
  text-align: center;

  ul {
    width: calc(100% - 60px);
    height: 60px;
    background-color: $gray;
    display: flex;
    margin: 30px auto 0;
  }

  h4 {
    margin: 0 40px;
  }

  li {
    color: $white;
    display: flex;
    align-items: center;
    height: 100%;

    a {
      padding: 0 40px;
      height: 100%;
      width: 100%;
      align-items: center;
      display: flex;
      color: $white;

      &:hover {
        background-color: $yellow;
        color: $gray;
      }
    }
  }
}

.half-row {
  display: flex;

  > * {
    display: inline-block;
    width: calc(50% - 15px);

    + * {
      margin-left: 30px;
    }
  }
}

.text-box {
  background-color: $white;
  padding: 30px;
  vertical-align: top;
}

.talk {
  display: flex;

  > * {
    display: inline-block;
    width: calc(50% - 15px);

    + * {
      margin-left: 30px;
    }
  }

  + .talk {
    margin-top: 20px;
  }
}

.talk-text {
  padding: 30px;
  background-color: $dark;
  color: $light;

  .title {
    color: $yellow;
    font-size: 32px;
  }

  .conference {
    color: $yellow;
  }

  * + * {
    margin-top: 20px;
  }
}

form {
  input,
  textarea {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    font-size: 1rem;
    margin-bottom: 0.75rem;
    padding: 0.25rem;
    width: 100%;
    display: block;
  }
}
